* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  overflow-y: auto;
  overflow-x: hidden;
  background: #f6f9ff;
  font-family: Arial, sans-serif;
}